PORT=5000
MONGO_URI=mongodb+srv://somedatabaseuser:somepassword@clustername.somerandomcode.mongodb.net/anydatabasename?appName=clustername
JWT_SECRET=69a8e79ae66ae6ae68a6e86a96e9ae69a6e6a6e9ea66a6ea6e86a8e68ae68a769e76ae
